:root{
    --azul1:#202C39;
    --azul2:#283845;
    --vermelho:#E54B4B;
    --peach:#F2D492;
    --branco:#98DFEA;
}
*{
    font-family: 'Poppins', sans-serif;
}

.left-nav{
    background: var(--azul2);
    margin-left: -8px;
    padding: 10px;
    width: 500px;
    height: 600px;
    border-radius: 0px 20px 20px 0px;
}
#nav-content{
    display: flex;
    flex-direction: column;
}

#teo-opt{
    color: var(--branco);
    text-decoration: none;
    margin-bottom: 5px;
    font-size: 30px;
}
