/*LILITA*/
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
/*LILITA*/

/*POPPINS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*POPPINS*/

/*CHAKRA*/
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
/*CHAKRA*/

:root{
    --azul1:#202C39;
    --azul2:#283845;
    --vermelho:#E54B4B;
    --peach:#F2D492;
    --branco:#98DFEA;
}
*{
    font-family: 'Poppins', sans-serif;
    
}
body{
    background-image: linear-gradient(to right bottom,rgba(78, 9, 9, 0.893),rgb(137, 20, 20), rgba(45, 11, 82, 0.979));
    background-repeat: no-repeat;  
    background-attachment: fixed;
    padding-top: 3px;
}

.left-nav{
    background-image:linear-gradient(to bottom right, rgb(65, 4, 4),rgb(96, 11, 11)) ;
    margin-left: 5px;
    width: 80px;
    height: 720px;
    border-radius: 20px 20px 20px 20px;
    z-index: 0;
    float: left;
}
#nav-content{
    display: flex;
    flex-direction: column;
}
#lnav-content{
    padding-top: 5px;
}

#teo-opt{
    color: white;
    padding-top: 7px;
    margin-bottom: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title{
    color: white;
    font-family: "Chakra Petch", serif;
    margin-left: 100px;
}

#user-info{
    background-image: linear-gradient(to bottom right, rgb(255, 0, 0),rgb(182, 48, 48), rgb(203, 22, 22) );
    width: 730px;
    height: 200px;
    margin-left: 100px;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

#saudacao >h1 > span{
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-family: "Chakra Petch", serif;
}
#saudacao > h1{
    font-family: "Chakra Petch", serif;
    font-weight: 100px;
    font-style: normal;
    color: rgb(53, 40, 40);
}

#user-level > p {
    font-size: 25px;
    font-family: "Chakra Petch", serif;
    font-weight: bolder;
}

span#level{
    font-size: 30px;
    color: rgba(255, 251, 0, 0.902);
    font-family: "Chakra Petch", serif;
    font-weight: 900;
}

#fav-bar{
    list-style-type: none;
    display: flex;
    margin-left: -50px;
}

#fav-bar > li{
    margin: 15px;
}

#profile-pic-section{
    background-image: linear-gradient(to right,rgb(236, 16, 16),red);
    float: right;
    width: 160px;
    height: 120px;
    padding: 10px;
    margin-right: -10px;
    margin-top: 40px;
    border-radius: 15px 0px 0px 15px;
    box-shadow: 0px 10px 10px 10px #ff00005c;
}

#profile-pic{
    width: 140px;   
}

.pratic-section {
    display: flex;
    margin-left: 100px;   
}

#last-used{
    color: white;
    background-image: linear-gradient(to bottom right,rgb(227, 27, 27),rgb(205, 16, 16));
    margin-left: 100px;
    flex-direction: row;
    padding: 10px;
    display: flex;
    width: 730px;
    height: 80px;
    border-radius: 5px;
}

#last-used-icon > svg{
    width: 50px;
    height: 50px;
    margin-top: 10px;
    background-image:linear-gradient(to bottom right, rgb(90, 12, 12), rgb(147, 12, 12));
    padding: 10px;
    border-radius: 5px;
}

#last-used-name > h3{
    margin-left: 10px;
    font-size: 25px;
    font-weight: 700;
    font-family: "Chakra Petch", serif;
}

#last-used-time{
    font-size: 25px;
    display: flex;
    margin-left: 400px;
    margin-top: 20px;
}